go 1.23.0

use (
	./1_GettingStarted/1-2_YourFirstGoProgram
	./2_LanguageBasics/2-10_Errors/2-10-1_errors
	./2_LanguageBasics/2-10_Errors/2-10-1_panic
	./2_LanguageBasics/2-10_Errors/2-10-2_inspection
	./2_LanguageBasics/2-11_Packages/2-11-1_use_third_party_packages
	./2_LanguageBasics/2-11_Packages/2-11-2_create_custom_packages/dice
	./2_LanguageBasics/2-11_Packages/2-11-2_create_custom_packages/diceclient
	./2_LanguageBasics/2-11_Packages/2-11-4_subpackages/dice
	./2_LanguageBasics/2-11_Packages/2-11-4_subpackages/diceclient
	./2_LanguageBasics/2-12-Modules/2-12-2_creating_a_module/dice
	./2_LanguageBasics/2-12-Modules/2-12-2_creating_a_module/diceclient
	./2_LanguageBasics/2-12-Modules/2-12-3_using_modules/diceclient
	./2_LanguageBasics/2-12-Modules/2-12-4_adding_version_information/diceclient
	./2_LanguageBasics/2-12-Modules/2-12-5_local_development/dice
	./2_LanguageBasics/2-12-Modules/2-12-5_local_development/workspace/diceclient
	./2_LanguageBasics/2-12-Modules/2-12-6_dependency_maintenance
	./2_LanguageBasics/2-13_Exercise_BankAccount/bank
	./2_LanguageBasics/2-13_Exercise_BankAccount/bank/solutionsteps
	./2_LanguageBasics/2-1_Variables/variables
	./2_LanguageBasics/2-2_ControlStructures/2-2-4_TTP_if_switch_for/collatz
	./2_LanguageBasics/2-2_ControlStructures/2-2-4_TTP_if_switch_for/collatz/solution
	./2_LanguageBasics/2-2_ControlStructures/2-2-4_TTP_if_switch_for/fizzbuzz
	./2_LanguageBasics/2-2_ControlStructures/2-2-4_TTP_if_switch_for/fizzbuzz/solution
	./2_LanguageBasics/2-2_ControlStructures/2_2_1_if
	./2_LanguageBasics/2-2_ControlStructures/2_2_1_nested_if
	./2_LanguageBasics/2-2_ControlStructures/2_2_1_streamlined_if
	./2_LanguageBasics/2-2_ControlStructures/2_2_2_switch
	./2_LanguageBasics/2-2_ControlStructures/2_2_3_for
	./2_LanguageBasics/2-3_InputAndOutput/2-3-1_print
	./2_LanguageBasics/2-3_InputAndOutput/2-3-2_scan
	./2_LanguageBasics/2-3_InputAndOutput/2-3-3_TTP_printing_and_scanning/printing
	./2_LanguageBasics/2-3_InputAndOutput/2-3-3_TTP_printing_and_scanning/printing/solution
	./2_LanguageBasics/2-3_InputAndOutput/2-3-3_TTP_printing_and_scanning/printtwice
	./2_LanguageBasics/2-3_InputAndOutput/2-3-3_TTP_printing_and_scanning/printtwice/solution
	./2_LanguageBasics/2-3_InputAndOutput/2-3-3_TTP_printing_and_scanning/scanning
	./2_LanguageBasics/2-3_InputAndOutput/2-3-3_TTP_printing_and_scanning/scanning/solution
	./2_LanguageBasics/2-3_InputAndOutput/2-3-4_cmdline
	./2_LanguageBasics/2-3_InputAndOutput/2-3-5_flags
	./2_LanguageBasics/2-4_Exercise_YourFirstCommandLineTool
	./2_LanguageBasics/2-4_Exercise_YourFirstCommandLineTool/hints
	./2_LanguageBasics/2-4_Exercise_YourFirstCommandLineTool/solution
	./2_LanguageBasics/2-5_Strings/2-5-1_basics
	./2_LanguageBasics/2-5_Strings/2-5-1_immutability
	./2_LanguageBasics/2-5_Strings/2-5-2_unicode
	./2_LanguageBasics/2-5_Strings/2-5-3_literals
	./2_LanguageBasics/2-5_Strings/2-5-5_TTP_strings/solution
	./2_LanguageBasics/2-6_NumericTypes/2-6-1_bool
	./2_LanguageBasics/2-6_NumericTypes/2-6-1_int
	./2_LanguageBasics/2-6_NumericTypes/2-6-1_int_division
	./2_LanguageBasics/2-6_NumericTypes/2-6-1_int_overflow
	./2_LanguageBasics/2-6_NumericTypes/2-6-2_float_conversions
	./2_LanguageBasics/2-6_NumericTypes/2-6-2_float_remainder
	./2_LanguageBasics/2-6_NumericTypes/2-6-2_float_to_int
	./2_LanguageBasics/2-6_NumericTypes/2-6-2_negative_zero
	./2_LanguageBasics/2-6_NumericTypes/2-6-2_special_values
	./2_LanguageBasics/2-6_NumericTypes/2-6-3_precision
	./2_LanguageBasics/2-6_NumericTypes/2-6-3_rounding
	./2_LanguageBasics/2-6_NumericTypes/2-6-4_complex
	./2_LanguageBasics/2-7_Constants
	./2_LanguageBasics/2-8_Pointers
	./2_LanguageBasics/2-9_Functions/2-9-1_declaringfunctions
	./2_LanguageBasics/2-9_Functions/2-9-2_functionbehavior
	./2_LanguageBasics/2-9_Functions/2-9-3_TTP_function_behavior/scope
	./2_LanguageBasics/2-9_Functions/2-9-3_TTP_function_behavior/scope/solution
	./2_LanguageBasics/2-9_Functions/2-9-3_TTP_function_behavior/variadic
	./2_LanguageBasics/2-9_Functions/2-9-3_TTP_function_behavior/variadic/solution
	./2_LanguageBasics/2-9_Functions/2-9-4_closures
	./2_LanguageBasics/2-9_Functions/2-9-5_TTP_closures/defer
	./2_LanguageBasics/2-9_Functions/2-9-5_TTP_closures/defer/solution
	./2_LanguageBasics/2-9_Functions/2-9-5_TTP_closures/functionvalue
	./2_LanguageBasics/2-9_Functions/2-9-5_TTP_closures/functionvalue/solution
	./2_LanguageBasics/2-9_Functions/2-9-6_funcsandpointers/Go
	./3_AdvancedDataTypes/3-11_Exercise_WebService/3-11-1_WebServer
	./3_AdvancedDataTypes/3-11_Exercise_WebService/3-11-2_Router
	./3_AdvancedDataTypes/3-11_Exercise_WebService/3-11-2_Router/solution
	./3_AdvancedDataTypes/3-11_Exercise_WebService/3-11-3_Handlers
	./3_AdvancedDataTypes/3-11_Exercise_WebService/3-11-3_Handlers/solution
	./3_AdvancedDataTypes/3-11_Exercise_WebService/3-11-4_Database
	./3_AdvancedDataTypes/3-11_Exercise_WebService/3-11-4_Database/quotes
	./3_AdvancedDataTypes/3-11_Exercise_WebService/3-11-4_Database/solution
	./3_AdvancedDataTypes/3-11_Exercise_WebService/3-11-4_Database/solution/quotes
	./3_AdvancedDataTypes/3-1_Arrays
	./3_AdvancedDataTypes/3-2_Slices/3-2-1_slices
	./3_AdvancedDataTypes/3-2_Slices/3-2-2_slices_passbyvalue
	./3_AdvancedDataTypes/3-2_Slices/3-2-3_TTP_slices/solution
	./3_AdvancedDataTypes/3-2_Slices/3-2-4_byteslices
	./3_AdvancedDataTypes/3-3-1_Maps
	./3_AdvancedDataTypes/3-3-2_TTP_maps
	./3_AdvancedDataTypes/3-3-2_TTP_maps/solution
	./3_AdvancedDataTypes/3-4_type_declarations
	./3_AdvancedDataTypes/3-5_TypeAliases
	./3_AdvancedDataTypes/3-5_TypeAliases/newlib
	./3_AdvancedDataTypes/3-5_TypeAliases/oldlib
	./3_AdvancedDataTypes/3-6-1_struct_basics
	./3_AdvancedDataTypes/3-6-2_TTP_structs
	./3_AdvancedDataTypes/3-6-2_TTP_structs/bonussolution
	./3_AdvancedDataTypes/3-6-2_TTP_structs/solution
	./3_AdvancedDataTypes/3-6-3_embedding
	./3_AdvancedDataTypes/3-6-4_fieldtags
	./3_AdvancedDataTypes/3-6-5_TTP_struct_embedding/solution
	./3_AdvancedDataTypes/3-7-1_methods
	./3_AdvancedDataTypes/3-7-2_methodsets
	./3_AdvancedDataTypes/3-8-1_interface_helloer
	./3_AdvancedDataTypes/3-8-2_TTP-iowriter
	./3_AdvancedDataTypes/3-8-2_TTP-iowriter/solution
	./3_AdvancedDataTypes/3-8-4_interfaces_as_parameters
	./3_AdvancedDataTypes/3-8-5_interface_examples
	./3_AdvancedDataTypes/3-8-6_interface_internals
	./3_AdvancedDataTypes/3-9-1_generics_type_parameters
	./3_AdvancedDataTypes/3-9-2_generics_type_contstraints
	./3_AdvancedDataTypes/3-9-3_generics_generic_interface_functions/1fail
	./3_AdvancedDataTypes/3-9-3_generics_generic_interface_functions/2fail
	./3_AdvancedDataTypes/3-9-3_generics_generic_interface_functions/3correct
	./4_GoDevelopment/4-1-1_Compiling/gotools
	./4_GoDevelopment/4-1-1_Compiling/gotools/procinfo
	./4_GoDevelopment/4-1-2_ConditionalCompiling/gotools2
	./4_GoDevelopment/4-1-6_gofmt
	./4_GoDevelopment/4-2-1_testing_token
	./4_GoDevelopment/4-2-3_testing_tablesubparallel/subparallel
	./4_GoDevelopment/4-2-3_testing_tablesubparallel/tabledriven
	./4_GoDevelopment/4-2-4_fuzzing
	./4_GoDevelopment/4-2-6_testing_benchmarks
	./5_AdvancedTopics/5-1-1_goroutines
	./5_AdvancedTopics/5-1-2_goroutines_and_threads
	./5_AdvancedTopics/5-1-3_goroutine_caveats
	./5_AdvancedTopics/5-1-4_channels
	./5_AdvancedTopics/5-1-5_channel_axioms
	./5_AdvancedTopics/5-1-6_Select
	./5_AdvancedTopics/5-1-7_TTP_channels/channelsTask2
	./5_AdvancedTopics/5-1-7_TTP_channels/channelsTask2Solution
	./5_AdvancedTopics/5-1-7_TTP_channels/channelsTask3solution
	./5_AdvancedTopics/5-1-7_TTP_channels/channelsTask4Solution
	./5_AdvancedTopics/5-1-8_ManagingGoroutines/doneChannel
	./5_AdvancedTopics/5-1-8_ManagingGoroutines/errGroup
	./5_AdvancedTopics/5-1-8_ManagingGoroutines/waitGroup
	./5_AdvancedTopics/5-1-9_DataRaces
	./5_AdvancedTopics/5-2-1_reflection
	./5_AdvancedTopics/5-2-2_TTP_reflection/pretty
	./5_AdvancedTopics/5-2-2_TTP_reflection/pretty/solution
	./5_AdvancedTopics/5-2-2_TTP_reflection/reflection
	./5_AdvancedTopics/5-4_Exercise_Concurrency
	./5_AdvancedTopics/5-4_Exercise_Concurrency/hint
	./5_AdvancedTopics/5-4_Exercise_Concurrency/solution1
	./5_AdvancedTopics/5-4_Exercise_Concurrency/solution2
)
